#!/bin/bash

# 请根据自己的环境修改

# 程序目录
export PGBADGER_CMD='/usr/local/bin/pgbadger'

# postgresql日志文件目录（postgresql-*.csv）
export PG_LOG_PATH='/usr/local/pgsql/data/log'

# 一般会把生成的报告文件拷贝到某web网站目录下，共开发人员查看
export DEST_CP_PATH='root@192.168.11.77:/srv/web_sites/dev-build-log.zjlh.lan'


