# 仅用于nacos-server启动
MODE=cluster
PREFER_HOST_MODE=hostname
NACOS_SERVERS="nacos-server-a:8848 nacos-server-b:8848 nacos-server-c:8848"

MYSQL_SERVICE_HOST=192.168.11.7
MYSQL_SERVICE_DB_NAME=nacos_config
MYSQL_SERVICE_PORT=3306
MYSQL_SERVICE_USER=unacos
MYSQL_SERVICE_PASSWORD=nacos
#MYSQL_SERVICE_DB_PARAM="characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useSSL=false"

#JVM_XMS="1g"
#JVM_XMX="1g"
#JVM_XMN="512m"
#JVM_MS="128m"
#JVM_MMS="320m"

#NACOS_DEBUG="n"

#NACOS_AUTH_TOKEN_EXPIRE_SECONDS=18000

NACOS_AUTH_TOKEN='177bxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx5cc11dbecef03e8fc'


