[defaults]
# 关闭主机密钥检查
host_key_checking = False
# 关闭不必要的警告信息
deprecation_warnings = False
# 指定主机清单文件的路径
inventory = ~/.ansible/lollipop

[privilege_escalation]
# 如果你想全局默认就用 sudo，改这里
become = True
become_method = sudo
become_user = root
#
# 免密sudo，不用输入密码（你已经配置过免密sudo）
become_ask_pass = False

