#
#MYSQL_ROOT_HOST=%        #默认情况下，MySQL创建 'root'@'localhost'帐户。只能从容器内部连接该帐户，例如MYSQL_ROOT_HOST=172.*.*.*
MYSQL_ROOT_PASSWORD=1234567890
#
#MYSQL_ALLOW_EMPTY_PASSWORD=false
#MYSQL_ONETIME_PASSWORD=false
#MYSQL_RANDOM_ROOT_PASSWORD=false
#
MYSQL_DATABASE=nacos_config
MYSQL_USER=unacos
MYSQL_PASSWORD=nacos1234

