#!/usr/bin/env python3
# -*- coding: utf-8 -*-


# 0 基本变量
GAN_CMD_HOME = '/root/zzxia-op-super-invincible-lollipop'      #--- 项目路径
WEB_ROOT = '/root/tmp'

# 1

# 1.1 gitlab
GITLAB_SECRET_TOKEN = 'QQQQQ12345'

# 1.2 hand
# web
#   在非独立使用时，你需要使他与基于【init/my_private_envs.sample】创建的【user.env】中的变量保持一致
USER_DB_FILE = '/root/.my_sec/user.db'             #--- 与sh共享，也可以独立
USER_TOKEN_FILE = '/root/.my_sec/user.db.token'    #--- 与sh共享，也可以独立
# 数据完整性校验
X_ZZXIA_SIGN_CHECK = False
X_ZZXIA_SIGN_SECRET = '11223344'


